<div class="flex align-items-center justify-content-center" style="height: 100%;">
  <div class="animate__animated animate__fadeIn container">
    <p-card>
      <p-divider class="animate__animated animate__fadeIn" *ngIf="isConnected">
        <a class="mr-2" href="https://apeboard.finance/dashboard/{{walletAddress}}" target="_blank">
          <img src="https://apeboard.finance/favicon.png">
        </a>
        <a class="mr-2" href="https://bscscan.com/address/{{walletAddress}}" target="_blank">
          <img src="https://apeboard.finance/static/images/logos/bscscan.png" style="height: 40px;">
        </a>
        <a class="mr-2" href="https://portfolio.nansen.ai/dashboard/{{walletAddress}}" target="_blank">
          <img src="https://portfolio.nansen.ai/favicon.png">
        </a>
        <button class="p-button-rounded p-button-text" (click)="disconnect()" icon="pi pi-sign-out" pButton pRipple style="height: 40px;" type="button"></button>
      </p-divider>
      <p-tabView [(activeIndex)]="tab">
        <p-tabPanel header="Coin">
          <div class="animate__animated animate__fadeIn" *ngIf="!isConnected" style="margin-left: auto; margin-right: auto; max-width: 300px;">
            <div class="text-center mb-5">
              <img class="mb-3" height="128" src="https://image.twodo.app/icons/1534981.png">
              <div class="text-900 text-3xl font-medium">DiFe</div>
            </div>
            <form>
              <div class="p-inputgroup">
                <input [(ngModel)]="walletAddress" [ngModelOptions]="ngModelOptions" pInputText placeholder="Wallet Address" type="text">
                <button (click)="connect()" pButton pRipple icon="pi pi-arrow-right" styleClass="p-button-warn" type="button"></button>
              </div>
              <p-divider [align]="'center'">OR</p-divider>
              <button class="w-full" (click)="walletConnect()" label="Connect" pButton pRipple></button>
            </form>
          </div>
          <coin *ngIf="isConnected && tab == 0"></coin>
        </p-tabPanel>
        <p-tabPanel header="APR">
          <apr *ngIf="tab == 1"></apr>
        </p-tabPanel>
        <p-tabPanel header="Website" *ngIf="isConnected">
          <website *ngIf="tab == 2"></website>
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->